<%- include("partials/header", { stylesheet: "landing.css" }) %>

<img class="wave" src="graphics/wave1.svg">
<img class="wave2" src="graphics/wave3.svg">

<div class="container">

    <div class="main">
        <h1>Calendar</h1>
        <p>Add Schedule to your days and finish tasks before deadlines using our Calendar app which enables you to access your calendar over different devices with persistent data. Register now to start using.</p>
        <p><a href="/login">Login</a> <a href="/register">Register Now</a></p>
        
    </div>

    <div class="graphics">
        <img class="" src="graphics/calendar-blue.svg">
    </div>
    
</div>

<%- include("partials/footer") %>
