<%- include("partials/header", { stylesheet: "landing.css" }) %>

<img class="wave" src="graphics/wave1.svg">
<img class="wave2" src="graphics/wave3.svg">

<div class="container">

    <div class="main">
        <h1>404 - Page not found</h1>
        <p>The page you are looking for does not exist, please visit the home page.</p>
        <p><a href="/">Home Page</a></p>
        
    </div>

    <div class="graphics">
        <img class="" src="graphics/question-blue.svg">
    </div>
    
</div>


<%- include("partials/footer") %>