html, body{
    height: calc(100% - 40px);
}

body{
    background-color: rgb(22, 39, 75);
    font-family: 'Bellota Text', sans-serif;
    padding: 0;
    margin: 0;
}

.main{
    margin: 40px;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

aside{
    display: grid;
    grid-template-rows: 2fr 3fr;
}

.weatherContainer{
    width: 100%;
    background: url("https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1402&q=80");
    background-position: center;
    background-size: cover;
    margin: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weatherContainer #location{
    font-size: 1.3rem;
    margin:0;
}

.weatherContainer #temperature{
    font-size: 5rem;
    margin: 0px;
    margin-left: 15px;
    font-weight: 300;
}

.todoContainer{
    background-color: rgb(31, 93, 165);
    color: white;
    padding: 0;
}

.todoContainer h3{
    margin: 15px;
    text-align: center;/*
    line-height: 2rem;*/
}

.fa-table{
    font-size: 1.5rem;
}


.todoContainer #todoForm{
    margin: 20px 10px;
    padding: 0;
    display: grid;
    grid-template-columns: 55px auto 75px;
}

.todoContainer #todoForm #todoItem{
    outline: none;
    margin: 0;
    padding: 7px;
    background: none;
    border: none;
    color: white;
    transition: 0.2s;
    font-size: 0.9rem;
    border-bottom: 2px solid #FFFA;
}

.todoContainer #todoForm #todoTime{
    background-color: rgb(31, 93, 165);
    color: white;
    border: none;
    outline: none;
}

.todoContainer #todoForm #todoTime::-webkit-outer-spin-button, 
.todoContainer #todoForm #todoTime::-webkit-inner-spin-button, 
.todoContainer #todoForm #todoTime::-webkit-clear-button{
    display: none;
}

.todoContainer #todoForm #todoItem::placeholder{
    color: #FFFA;
    opacity: 0.8;
}

.todoContainer #todoForm #todoItem:focus{
    border-bottom: 2px solid white;
}

.todoContainer #todoForm #addTodo{
    display: inline-block;
    margin: 0;
    outline: none;
    padding: 7px;
    font-size: 0.8rem;
    border: 2px solid white;
    background: none;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

.todoContainer #todoForm #addTodo:hover, .todoContainer #todoForm #addTodo:focus{
    border: 2px solid white;
    background: white;
    color: #2A7EDC;
}

.todoContainer #todoListDisplay ul{
    list-style-type: none;
}

.todoContainer #todoListDisplay{
    height: 200px;
    width: 100%;
    overflow: auto;
}

.todoContainer #todoListDisplay .time{
    margin-right: 10px;
    opacity: 0.7;
}

.todoContainer #todoListDisplay::-webkit-scrollbar {
    width: 0.5em;
}

 
.todoContainer #todoListDisplay::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 1em;
}

.todoContainer #todoListDisplay ul li{
    display: grid;
    grid-template-columns: 20px 50px 250px;
    margin-bottom: 8px;
}

.todoContainer #todoListDisplay ul li .deleteTodo{
    display: inline-block;
    width: 20px;
}

.todoContainer #todoListDisplay ul li .deleteTodo i{
    opacity: 0;
    transition: 0.2s;
}

.todoContainer #todoListDisplay ul li:hover .deleteTodo i{
    opacity: 1;
}



.whole{
    display: grid;
    grid-template-rows: 60px auto;
}

table{
    font-size: 1.2rem;
    margin: 20px auto;
    text-align: center;
}

th{
    font-size: 0.9rem;
    text-transform: uppercase;
}

td{
    cursor: pointer;
    padding: 20px;
    border-radius: 50%;
    font-size: 0.9rem;
}

td:hover{
    background-color: #2A7EDC33;
}

td.empty{
    cursor: default;
}

td.empty:hover{
    background-color: white;
}


.controller{
    text-align: center;
}

td.active{
    background-color: #2A7EDC66;
    transition: 0.4s;
}

td.selected{
    background-color: #2A7EDC;
    color: white;
    transition: 0.4s;
}

td.todohere{
    border: solid 1px black;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}


.deleteTodo{
    cursor: pointer;
}

.nodisplay{
    display: none;
}

.button {
    border: none;
    outline: none;
    font-size: 1.2rem;
    background-color: white;
    color: #4444;
    cursor: pointer;
}
  
.button:hover {
    color: #2A7EDC;
}

.controller .current{
    display: inline-block;
    width: 120px;
}

.head{
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head .user{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
}

.head .user img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}  

.head .user span{
    font-size: 0.8rem;
    line-height: 40px;
    text-transform: uppercase;
    padding-left: 10px;
    cursor: pointer;
}

.head h1{
    display: inline-block;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.head .user ul{
    list-style-type: none;
    background-color: #e9e9e9;
    padding: 10px 20px;
    position: fixed;
    top: 80px;
    right: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.head .user ul li{
    padding: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}

.head .user ul li:hover{
    opacity: 1;
}

.head .user ul li a{
    color: black;
    text-decoration: none;
}

/*Login and Register styles*/

.login-container{
    width: 450px;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
}

.login-container form input{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    margin-bottom: 20px;
}

.login-container form button{
    border: none;
    outline: none;
    width: 50%;
    padding: 10px;
    background-color: rgb(7, 104, 194);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    margin: 10px 0;
    transition: 0.2s;
}

.login-container form button:hover{
    background-color: rgb(10, 123, 228);
}

.login-container form label{
    font-size: 0.8rem;
}

.login-container p{
    font-size: 0.8rem;
}

.login-container p a{
    text-decoration: none;
}